/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-2rese8x7fp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2rese8x7fp] {
    flex: 1;
}

.sidebar[b-2rese8x7fp] {
    border-right: solid 3pt #133956;
}

@media (min-width: 641px) {
    .page[b-2rese8x7fp] {
        flex-direction: row;
    }

    .sidebar[b-2rese8x7fp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui[b-2rese8x7fp] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2rese8x7fp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tu3evtjix5] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-tu3evtjix5] {
    background-color: #f07f1a;
    color: #000;
}

.bi[b-tu3evtjix5] {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    top: -1px;
    background-size: cover;
}

.bi-dashboard-fill-nav-menu[b-tu3evtjix5] {
    background-image: url("img/dashboardIcon.svg");
}

.bi-order-fill-nav-menu[b-tu3evtjix5] {
    background-image: url("img/orderIcon.svg");
}

.bi-meal-fill-nav-menu[b-tu3evtjix5] {
    background-image: url("img/mealIcon.svg");
}

.bi-customer-nav-menu[b-tu3evtjix5] {
    background-image: url("img/customerIcon.svg");
}

.bi-calendar-nav-menu[b-tu3evtjix5] {
    background-image: url("img/calendarIcon.svg");
}

.bi-inventory-nav-menu[b-tu3evtjix5] {
    background-image: url("img/inventoryIcon.svg");
}

.nav-item[b-tu3evtjix5] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-tu3evtjix5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-tu3evtjix5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-tu3evtjix5]  .nav-link {
        color: #fff;
        background-color: #133956;
        border: none;
        border-radius: 8px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-tu3evtjix5]  a.active {
    background-color: #fec707;
    color: #133956;
}

.nav-item[b-tu3evtjix5]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-tu3evtjix5] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-tu3evtjix5] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-tu3evtjix5] {
        display: none;
    }

    .nav-scrollable[b-tu3evtjix5] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-k7r9y9ftt3],
.components-reconnect-repeated-attempt-visible[b-k7r9y9ftt3],
.components-reconnect-failed-visible[b-k7r9y9ftt3],
.components-pause-visible[b-k7r9y9ftt3],
.components-resume-failed-visible[b-k7r9y9ftt3],
.components-rejoining-animation[b-k7r9y9ftt3] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-retrying[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-failed[b-k7r9y9ftt3],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-k7r9y9ftt3] {
    display: block;
}


#components-reconnect-modal[b-k7r9y9ftt3] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-k7r9y9ftt3 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-k7r9y9ftt3 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-k7r9y9ftt3 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-k7r9y9ftt3]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-k7r9y9ftt3 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-k7r9y9ftt3 {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-k7r9y9ftt3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-k7r9y9ftt3 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-k7r9y9ftt3] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-k7r9y9ftt3] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-k7r9y9ftt3] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-k7r9y9ftt3] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-k7r9y9ftt3] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-k7r9y9ftt3] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-k7r9y9ftt3] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-k7r9y9ftt3 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-k7r9y9ftt3] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-k7r9y9ftt3 {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
