.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: #f07f1a;
    color: #000;
}

.bi {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    top: -1px;
    background-size: cover;
}

.bi-dashboard-fill-nav-menu {
    background-image: url("img/dashboardIcon.svg");
}

.bi-order-fill-nav-menu {
    background-image: url("img/orderIcon.svg");
}

.bi-meal-fill-nav-menu {
    background-image: url("img/mealIcon.svg");
}

.bi-customer-nav-menu {
    background-image: url("img/customerIcon.svg");
}

.bi-calendar-nav-menu {
    background-image: url("img/calendarIcon.svg");
}

.bi-inventory-nav-menu {
    background-image: url("img/inventoryIcon.svg");
}

.bi-box-arrow-left-nav-menu {
    background-image: url("img/logoutIcon.svg");
}

.bi-login {
    background-image: url("img/loginIcon.svg");
}

.bi-register {
    background-image: url("img/registerIcon.svg");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #fff;
        background-color: #133956;
        border: none;
        border-radius: 8px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: #fec707;
    color: #133956;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
