@inherits LayoutComponentBase



<div class="land">
    <img src="img/lunchvert.jpg" alt="lunch" class="landingImg">

    <div class="public-wrapper">
        <img src="img/lm_logo.svg" alt="LunchMate Logo" class="landingLogo" />
        <main class="container" style="padding:2rem 0;">
            @Body
        </main>

        <footer class="container" style="padding:2rem 0; border-top:1px solid #eee; margin-top:2rem;">
            <small>© @(DateTime.Now.Year) LunchMate - VisionCoders - CSE 325 </small>
        </footer>
    </div>
</div>