@page "/customer/dashboard"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "customer")]
@layout MainLayout
@using CSE325_visioncoders.Services

<PageTitle>Dashboard</PageTitle>

<div class="titleBar">
    <img class="titleIcon" src="img/dashboardIcon.svg" alt="order">
    <a>Dashboard</a>
</div>

<p>Welcome to your new app.</p>
