@page "/login"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@using CSE325_visioncoders.Services
@using CSE325_visioncoders.Models
@inject AuthService Auth
@inject NavigationManager Nav

<div class="titleBar">
    <img class="titleIcon" src="img/loginIcon.svg" alt="login icon">
    <a>Login</a>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<form method="post" action="@actionUrl" class="loginForm">
        <label>Email</label>
        <input name="Email" />
    
        <label>Password</label>
        <input name="Password" type="password" />
   
    <button type="submit" class="btn-login">Login</button>
</form>

@code {
    private string actionUrl = "";
    private string? errorMessage;

    protected override void OnInitialized()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        var error = query.Get("error");
        if (!string.IsNullOrEmpty(error))
        {
            errorMessage = error switch
            {
                "missing" => "Email and Password requiered.",
                "invalid" => "Invalid credentials.",
                _ => "Login Failed."
            };
        }

        var returnUrl = query.Get("returnUrl");
        var path = "/auth/login-form";
        if (!string.IsNullOrEmpty(returnUrl))
            path += $"?returnUrl={Uri.EscapeDataString(returnUrl)}";

        actionUrl = Nav.ToAbsoluteUri(path).ToString();
    }
}
